## This is just for testing, so no need to keep these credentials secret
wordpressUsername: wordpress
wordpressPassword: notsecret
mariadb:
  auth:
    rootPassword: notsecret
    password: notsecret
ingress:
  enabled: true
  hostname: wordpress.grassmud.horse
  tls: true
